@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://use.typekit.net/tpl8qzy.css");

/* Font Face */
.font-primary {
  font-family: "articulat-cf", sans-serif !important;
}

.font-head {
  font-family: "bilo", sans-serif !important;
  font-weight: 700 !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

/* change the color when you select text */
::selection {
  background-color: #1041b5;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

.footer {
  width: 100% !important;
}
.navbar {
  z-index: 999 !important;
}

.navbars2 {
  z-index: 999 !important;
  width: inherit !important;
}

.primary-font {
  font-family: "Lato", serif !important;
}

.secondary-font {
  font-family: "Montserrat", sans-serif !important;
}

::-webkit-slider-thumb {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3 !important;
}

#slider-range {
  z-index: 2 !important;
}

.form2 {
  max-width: none;
}

.hero {
  background: url("/public/assets/bath-hero.png") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-position: bottom center !important;
}



#asphalt.active {
  background-color: #fb7304;
  color: white;
}
#metal.active {
  background-color: #fb7304;
  color: white;
}
#wood_shingle.active {
  background-color: #fb7304;
  color: white;
}
#tile.active {
  background-color: #fb7304;
  color: white;
}
#tar_and_gravel.active {
  background-color: #fb7304;
  color: white;
}
#unsure.active {
  background-color: #fb7304;
  color: white;
}
#slate.active {
  background-color: #fb7304;
  color: white;
}
#foam.active {
  background-color: #fb7304;
  color: white;
}

.animate-progress {
  background-color: #1041b5;
  transition: width 0.8s ease-in-out;
}

/* fadeIn animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(05px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* step 1 is hidden by default then display block when #step1.active, make a fade in effect */
#step1 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step1.active {
  display: block;
  transform: translateX(0px);
}

#step2 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
  width: 100%;
}

#step2.active {
  display: block;
  transform: translateX(0px);
}

#step3 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step3.active {
  display: block;
  transform: translateX(0px);
}

#step4 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step4.active {
  display: block;
  transform: translateX(0px);
}

#step5 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step5.active {
  display: block;
  transform: translateX(0px);
}

#step6 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step6.active {
  display: block;
  transform: translateX(0px);
}

#step7 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step7.active {
  display: block;
  transform: translateX(0px);
}

#step8 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step8.active {
  display: block;
  transform: translateX(0px);
}

.provider-btn {
  background-color: #078041;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px;
  transition: 0.5s ease-in-out;
}

.congrats {
  background-color: #fb7304;
  border-radius: 5px;
  padding: 15px 20px;
  transition: 0.5s ease-in-out;
  animation: fadeIn 1s;
  font-size: 120% !important;
}

.congrats-2 {
  font-size: 1em;
}

.lead-button {
  background-color: #1041b5;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px 0px;
  transition: 0.3s ease-in-out all;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #1041b5;
}

.lead-button:hover {
  border: 1px solid #1041b5;
  background-color: white;
  color: #1041b5;
}

.box {
  top: 150px;
  margin-bottom: 900px;
}
.next {
  background-color: #fb7304 !important;
}

.provider-btn.active {
  border-color: #078041 !important;
  background-color: #fb7304 !important;
  color: white !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.roof-type.active {
  background-color: #fb7304 !important;
  color: white !important;
}

@media (min-width: 1350px) {
  .form {
    min-width: none !important;
  }
}

@media (min-width: 1024px) {
  .form {
    min-width: none !important;
  }
}

@media (min-width: 600px) {
  .congrats {
    font-size: 1.6em !important;
  }
  .congrats-2 {
    font-size: 1.2em !important;
  }
}

@media (max-width: 600px) {
  .form {
    min-width: none;
  }
}

/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  --webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  --webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.left-0 {
  left: 0px;
}

.top-52 {
  top: 13rem;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.top-5 {
  top: 1.25rem;
}

.left-8 {
  left: 2rem;
}

.top-20 {
  top: 5rem;
}

.top-2 {
  top: 0.5rem;
}

.z-20 {
  z-index: 20;
}

.order-3 {
  order: 3;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-72 {
  margin-top: 18rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-16 {
  height: 4rem;
}

.h-full {
  height: 100%;
}

.h-4 {
  height: 1rem;
}

.h-2 {
  height: 0.5rem;
}

.h-6 {
  height: 1.5rem;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-4 {
  width: 1rem;
}

.w-60 {
  width: 15rem;
}

.w-6 {
  width: 1.5rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-lg {
  max-width: 32rem;
}

.max-w-xl {
  max-width: 36rem;
}

.max-w-sm {
  max-width: 24rem;
}

.max-w-6xl {
  max-width: 72rem;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border-2 {
  border-width: 2px;
}

.border {
  border-width: 1px;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.border-brand-green {
  --tw-border-opacity: 1;
  border-color: #1041b5 / var(--tw-border-opacity) !important;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-brand-green {
  --tw-bg-opacity: 1;
  background-color: #1041b5;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-black\/80 {
  background-color: rgb(0 0 0 / 0.8);
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-brand-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(251 115 4 / var(--tw-bg-opacity));
}

.p-8 {
  padding: 2rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.md\:text-xl {
  font-size: 1.35rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.font-medium {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-brand-orange {
  --tw-text-opacity: 1;
  color: rgb(251 115 4 / var(--tw-text-opacity));
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

/* change the color when you select text */

::-moz-selection {
  background-color: #1041b5;
  color: white;
}

::selection {
  background-color: #1041b5;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

.footer {
  width: 100% !important;
}

.primary-font {
  font-family: "Lato", serif !important;
}

.secondary-font {
  font-family: "Montserrat", sans-serif !important;
}

::-webkit-slider-thumb {
  width: 25px !important;
  height: 25px !important;
  background: #078041 !important;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3 !important;
}

#slider-range {
  z-index: 2 !important;
}

.hero {
  background: url("/public/assets/bath-hero.png;") no-repeat center center/cover !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero2 {
  background: url("/bathroom-assets/assets/bath-hero-dark.png") no-repeat center
    center/cover;
    display: flex !important;
    /* justify-content: center !important; */
    align-items: center !important;
  width: 100% !important;
}

 /* Apply 100vh only for screens larger than 768px (desktop screens) */
 @media (min-width: 768px) {
  .hero2 {
      min-height: 100vh !important;
  }
}

/* For smaller screens, set height to auto */
@media (max-width: 767px) {
  .hero2 {
      min-height: auto !important;
  }
}


#renter.active {
  background-color: #fb7304;
  color: white;
}

#owner.active {
  background-color: #fb7304;
  color: white;
}

#asphalt.active {
  background-color: #fb7304;
  color: white;
}

#metal.active {
  background-color: #fb7304;
  color: white;
}

#wood_shingle.active {
  background-color: #fb7304;
  color: white;
}

#tile.active {
  background-color: #fb7304;
  color: white;
}

#tar_and_gravel.active {
  background-color: #fb7304;
  color: white;
}

#unsure.active {
  background-color: #fb7304;
  color: white;
}

#slate.active {
  background-color: #fb7304;
  color: white;
}

#foam.active {
  background-color: #fb7304;
  color: white;
}

.animate-progress {
  background-color: #1041b5;
  transition: width 0.8s ease-in-out;
}

#progress_bar {
  margin-top: 5rem;
}

#progress_bar_inner {
  height: 0.65rem;
  transition: width 0.8s ease-in-out;
}
#hero-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px !important;
  row-gap: 1rem;
}
#progress {
  height: 0.65rem;
}

.bg-main {
  background-color: #1041b5;
}

.text-main {
  color: #1041b5;
}

#hero-box input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem !important;
}
#hero-box button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "bilo", sans-serif;
  letter-spacing: 0.05rem;
}

#hero-text {
  font-size: 1.6rem;
  font-weight: 800 !important;
  line-height: 2rem;
}

#hero-sub {
  font-size: 1.15rem;
  font-weight: 600 !important;
  padding: 0rem 0.75rem 0rem 0.75rem;
}

#zip-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 80px;
}

#address-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  width: fit-content;
}


#bathroom-type-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  width: fit-content;
}

#email-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  width: fit-content;
}

#first-name-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  width: fit-content;
}

#last-name-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  width: fit-content;
}

#phone-error {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  width: fit-content;
}

#zip_lead {
  padding-top: 0 !important;
}
#zipp {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  align-items: center !important;
  justify-content: center !important;
}

#inner-hero {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  min-height: 100% !important;
  justify-content: start !important;
  padding-top: 10rem !important;
}
@media screen and (min-width: 580px) {
  #inner-hero {
    padding-top: 0rem !important;
    padding-bottom: 5rem !important;
    justify-content: center !important;
  }
  #hero-text {
    font-size: 2.5rem !important;
    font-weight: 800 !important;
    line-height: 2.5rem !important;
  }
  #hero-sub {
    font-size: 1.25rem !important;
    font-weight: 600 !important;
  }
  #hero-form {
    width: 100% !important;
    margin-top: 1.75rem;
  }
  #hero-box {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    column-gap: 0.75rem !important;
  }
}
@media screen and (min-width: 768px) {
  #inner-hero {
    justify-content: center !important;
    padding-top: 0rem !important;
    padding-bottom: 5rem !important;
  }
  #hero-text {
    font-size: 3.5rem !important;
    font-weight: 800 !important;
    line-height: 3.5rem !important;
  }
  #hero-sub {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }
  #form {
    width: 100% !important;
  }
  #hero-box {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    column-gap: 0.75rem !important;
    padding: 0rem !important;
  }
}
/* fadeIn animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(05px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* step 1 is hidden by default then display block when #step1.active, make a fade in effect */

#step1 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step1.active {
  display: block;
  transform: translateX(0px);
}

#step2 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step2.active {
  display: block;
  transform: translateX(0px);
}

#step3 {
  display: none;
  transition: 0.7s ease-in-out all;
  animation-delay: 0.5s;
  animation: fadeIn 1s;
  transform: translateX(05px);
}

#step3.active {
  display: block;
  transform: translateX(0px);
}

.provider-btn {
  background-color: #078041;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px;
  transition: 0.5s ease-in-out;
}

.congrats {
  background-color: #fb7304;
  border-radius: 5px;
  padding: 15px 20px;
  transition: 0.5s ease-in-out;
  animation: fadeIn 1s;
  font-size: 120% !important;
}

#zip-lead-btn {
  border: none !important;
  transition: 0.3s ease-in-out;
}

#zip-lead-btn:hover {
  background-color: #fb7304 !important;
  color: white;
}

/* Next Button */
#next {
  /* bottom: 60px; Default for mobile */
  width: fit-content;
  background-color: #fb7304;
  padding: 15px 70px;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
  animation: fadeIn 1s;
  font-size: 120%;
  color: white;
  font-weight: 600;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  /* padding-top: 20px; */
}

/* Next Button Hover */
#next:hover {
  background-color: #1041b5;
}

/* Media Query for larger screens (md:bottom-[20px]) */
@media (min-width: 768px) {
  #next {
    /* position: relative; */
    /* bottom: 20px; */
  }
}

/* Back Button */
#prev {
  position: absolute;
  /* left: 20px; */
  bottom: 12px;
  text-align: center;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: none;
}

/* Back Button Hover */
#prev:hover {
  color: #fb7304;
  transform: scale(1.1);
}

/* Adjust Back Button Position on Larger Screens */
@media (min-width: 768px) {
  #prev {
    left: 50px;
    bottom:20px;
  }
}

/* SVG Icon inside Back Button */
#prev svg {
  width: 24px;
  height: 24px;
}

/* Space between icon and text */
#prev p {
  margin-left: 8px;
}

#phone_mask {
  max-width: 35rem;
  /* margin: 0 auto; */
}

#submit {
  width: fit-content;
  background-color: #fb7304;
  padding: 15px 80px;
  border-radius: 50px;
  transition: 0.5sease-in-out;
  font-size: 120% !important;
  color: white;
  font-weight: 600;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 auto;
}

#submit:hover {
  background-color: #1041b5;
}

#next:hover {
  background-color: #1041b5;
}

#autoaddress {
  max-width: 35rem;
}

#email {
  max-width: 35rem;
  border-radius: 50px;
  padding-left: 1.75rem;
  margin: 0 auto;
}

#name-container {
    max-width: 100%;
    width: 32rem;
  /* align-items: center; */
  margin-top: 1.5rem;
}

.congrats-2 {
  font-size: 1em;
}

.lead-button {
  background-color: #1041b5;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px 0px;
  transition: 0.3s ease-in-out all;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #1041b5;
}

.lead-button:hover {
  border: 1px solid #1041b5;
  background-color: white;
  color: #078041;
}

.box {
  top: 150px;
  margin-bottom: 900px;
}

.next {
  background-color: #fb7304 !important;
}

/* #prev {
  position: absolute;
  bottom: 55px;
  left: 0 !important;
} */

.roof-type {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  max-height: 150px;
}

.roof-type:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.roof-type .roof-type-text {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  letter-spacing: 0.5px;
  transition: 0.3s ease-in-out all;
  position: absolute;
  z-index: 1;
  padding: 8px 20px;
  min-width: 120px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  /* background: rgba(17, 57, 172, 0.75); */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
}

#unsure {
  background: transparent !important;
  height: fit-content !important;
}

.roof-type .roof-type-text:hover {
  background-color: #1041b5;
  color: white;
  border-radius: 5px;
}

.roof-type-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out all;
  z-index: 0;
}

.roof-type-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.roof-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#asphalt-shingle {
  background: url("{{asset('assets/asphalt-shingle.jpeg')}}");
}

@media screen and (max-width: 575px) {
  .step-header {
    font-size: 1.75em !important;
  }
  .roof-type-text {
    width: fit-content !important;
  }
}
@media screen and (min-width: 530px) {
  .step-header {
    font-size: 1.85em !important;
  }
}

/* @media screen and (max-width: 468px) {
  #prev {
    left: 30px;
  }
} */

@media screen and (max-width: 468px) {
  .step-header {
    font-size: 1.825em !important;
  }
  #form {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
}

@media screen and (min-width: 468px) {
  #form {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media screen and (min-width: 768px) {
  .step-header {
    font-size: 3em !important;
  }
}

#form {
  width: 100% !important;
  max-width: 55rem !important;
}


.form {
    min-height: 75vh;
  height: 100% !important;
  max-width: 95rem !important;
  width: 100% !important;
  margin: 0px auto !important;
  padding: 0px 2.5rem !important;
}

#owner-renter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  font-size: 1.25em !important;
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
}

.roof-type {
  font-size: 1.15em !important;
  font-weight: 600 !important;
  letter-spacing: 0.25px !important;
}

#roof-type-container {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  column-gap: 1rem;
  row-gap: 1rem;
}

#unsure {
  width: 100% !important;
  margin-top: 50px !important;
  grid-column: 1 / span 2;
}

.provider-btn.active {
  border-color: #078041 !important;
  background-color: #fb7304 !important;
  color: white !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.roof-type.active {
  background-color: #1041b5 !important;
  color: white !important;
}

.roof-type.active .roof-type-text {
  background-color: #1041b5 !important;
  color: white !important;
}

.roof-type.active .roof-type-img-overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

@media (min-width: 1024px) {
  .main {
    padding-top: 16em !important;
  }

  #lock {
    left: 60px;
  }
}

@media (min-width: 600px) {
  .congrats {
    font-size: 1.6em !important;
  }

  .congrats-2 {
    font-size: 1.2em !important;
  }
  #owner-renter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0rem;
    column-gap: 1rem;
  }
}

input {
  border: 2px solid #1041b5 !important;
}

@media screen and (max-width: 600px) {
  #name-container {
    max-width: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  #zip-error {
    right: 0;
    margin: 0 auto;
  }

  .form {
    min-width: 500px !important;
    padding: 0.5rem 0.25rem;
  }

  #form {
    width: 100% !important;
    max-width: 55rem !important;
  }
  #roof-type-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .roof-type {
    width: 100%;
    height: 100%;
    max-height: 150px;
  }
  .roof-type-text {
    padding: 8px 12px !important;
    width: 175px;
  }
}

@media (max-width: 600px) {
  .form {
    min-width: 100% !important;
    /* padding-top: 7rem !important; */
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border: 3px solid red;
    /* justify-content: start !important; */
  }

  #next {
    position: relative;
    /* bottom: 0px; */
  }
}

.placeholder\:text-center::-moz-placeholder {
  text-align: center;
}

.placeholder\:text-center::placeholder {
  text-align: center;
}

.placeholder\:text-sm::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.placeholder\:text-sm::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hover\:scale-110:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-brand-green:hover {
  --tw-border-opacity: 1;
  border-color: #1041b5;
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:bg-brand-orange:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(251 115 4 / var(--tw-bg-opacity));
}

.hover\:text-brand-green:hover {
  --tw-text-opacity: 1;
  color: #1041b5;
}

.hover\:text-brand-orange:hover {
  --tw-text-opacity: 1;
  color: rgb(251 115 4 / var(--tw-text-opacity));
}

.hover\:shadow-md:hover {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-2xl:hover {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px) {
  .sm\:left-10 {
    left: 2.5rem;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:gap-6 {
    gap: 1.5rem;
  }

  .sm\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
/* @media (max-width: 768px) {
  #prev {
    left: 20px !important;
  }
} */

@media (min-width: 768px) {
  .md\:left-16 {
    left: 4rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:top-0 {
    top: 0px;
  }

  .lg\:left-40 {
    left: 10rem;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:order-3 {
    order: 3;
  }

  .lg\:mt-16 {
    margin-top: 4rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:max-w-2xl {
    max-width: 42rem;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-y-8 {
    row-gap: 2rem;
  }

  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:p-10 {
    padding: 2.5rem;
  }

  .lg\:p-8 {
    padding: 2rem;
  }

  .lg\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lg\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:font-light {
    font-weight: 300;
  }

  .placeholder\:lg\:text-center::-moz-placeholder {
    text-align: center;
  }

  .placeholder\:lg\:text-center::placeholder {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; /* Single column by default */
  gap: 16px; /* Equivalent to gap-4 */
}

/* Apply two-column layout for screens larger than 1280px */
@media (min-width: 1280px) {
  .container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.option {
  --tw-bg-opacity: 1;
  background-color: rgb(251 115 4 / var(--tw-bg-opacity));
  transition: all 0.3s ease-in-out;
  width: 100%;
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px; /* Equivalent to rounded-lg */
  color: white;
  font-weight: bold;
  text-align: center;
    font-size: 1.125rem;
}

@media (max-width: 640px) {
  .option {
    padding: 12px;
      font-size: 1rem;
  }
}


/* Hover effect */
.option:hover {
  background-color: #e65c00;
}

/* Selected option */
.option.selected {
  background-color: #1e40af; /* Equivalent to bg-blue-700 */
}


/* Grid Layout */
.radio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}


/* Radio Button Label */
.radio-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:8px;
  font-size: 1rem; /* Default text size */
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

/* Hidden Radio Input */
.radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Circle Indicator */
.radio-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #d1d5db;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

/* Checkmark Icon */
.radio-icon {
  width: 20px;
  height: 20px;
  color: #d1d5db;
  display: none;
}

/* Checked State */
.radio-input:checked + .radio-indicator {
  border-color: #fb7304;
  background-color: #fb7304;
}

.radio-input:checked + .radio-indicator .radio-icon {
  display: block;
  color: white;
}

.radio-input:checked + .radio-label {
  background-color: #fb7304;
}

.input-field {
  width: 100%;
  padding: 12px 16px; /* px-4 py-3 for small screens */
  border-radius: 9999px; /* Fully rounded */
  background-color: white;
  border: 2px solid #1041b5;
  color: black;
  font-size: 1.125rem; /* text-lg */
  font-weight: 500; /* font-medium */
  text-align: center;
}

.input-field::placeholder {
  text-align: center; /
}

@media (min-width: 1024px) {
  .input-field {
      padding: 16px; /* p-4 for larger screens */
  }
}



